html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #dfdfdf;
}

.board {
	/* margin: 0 auto; */
	display: inline-grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.2em;
	/* justify-items: center; */
	/* justify-content: space-around; */
}

.board > * {
	display: flex;
	font-size: 40pt;
	font-family: 'Kanit', sans-serif;
	font-weight: 900;
	color: #444;
	justify-content: center;
	align-items: center;
	/* border: 1px solid; */
	box-shadow: 1px 1px 2px gray;
	border-radius: 20px;
	background-color: white;
	width: 2em;
	height: 2em;
}

.underline {
	text-decoration: underline;
}
