html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f3772d;
}

.board {
	/* margin: 0 auto; */
	display: inline-grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1vmin;
	/* justify-items: center; */
	/* justify-content: space-around; */
	width: 80vmin;
	height: 80vmin;
}

.board > * {
	display: flex;
	font-size: 10vmin;
	font-family: 'Kanit', sans-serif;
	font-weight: 900;
	color: #444;
	justify-content: center;
	align-items: center;
	/* border: 1px solid; */
	box-shadow: 0.2vmin 0.2vmin 0.4vmin #9b280d
	border-radius: 15%;
	background-color: white;
}

.underline {
	text-decoration: underline;
}
